
@media only screen and (min-width: 992px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: baseline;
        grid-area: header;
    }
    .background{
        background-image: url("./images/plane-min.jpg");
        max-width: 100%;
        height: 500px;
    }
    .about{
        font-family: 'Noto Sans', sans-serif;
        font-weight: 100;
        font-size: 20px;
    }
    .Titles{
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        font-size: 26px;
    }
    .logo{
        margin-right: 25px;
        
    }
    .menu{
        display: flex;
        flex-direction: row;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        font-size: 24px;
        margin-right: 700px;

    }
    button{
        border: none;
        background-color: transparent;
    }
    button:hover{
        background-color: darkgray;
    }
    button:active{
        background-color: darkgray;
        transform: translateY(4px);
    }
    .menu-1{
        margin-right: 18px;
    }
    .icons{
        display: flex;
        height: 40px;
        align-self: center;

    }
    .gridbox{
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        "box1 box2 box3 box4"
        "box5 box6 box7 box8"
        "footer footer footer footer";
        column-gap: 5%;
        row-gap: 8%;
        margin: 10%;
        padding-bottom: 15%;
    }
    .box-1{
        grid-area: box1;
    }
    .box-2{
        grid-area: box2;
    }
    .box-3{
        grid-area: box3;
    }
    .box-4{
        grid-area: box4;
    }
    .box-5{
        grid-area: box5;
    }
    .box-6{
        grid-area: box6;
    }
    .box-7{
        grid-area: box7;
    }
    .box-8{
        grid-area: box8;
    }
   .flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 275px;
    margin-bottom: 150px;
   }
   #p1{
    height: 580px;
    max-width: fit-content;
   }
   #p2{
    height: 490px;
    max-width: fit-content;
   }
    footer{
        display:flex;
        flex-direction: row;
        justify-content: center;
        grid-area: footer;
        background-color: grey;
    }
    .f1{
        padding-right: 25px;
    }
    .photo{
        height: 250px;
        max-width: 100%;
    }
}